@import "_variables";
@import "_esfera";
@import "_mixin";

* {
	box-sizing: border-box;
}

.container {
	background-color: white;
	@include on-circle($item-count: 7, $circle-size: 23em, $item-size: 6em); 
  	margin: 5em auto 0;

	
	.estrella-1 {
		@include star;
	}

	.estrella-2 {
		@include star-center(30px, 10px);
		@include star(15px);
	}

	.estrella-3 {
		@include star-center(15px, 15px);
		@include star(15px);
	}

	.estrella-4 {
		@include star-center(15px, 15px);
		@include star(12px);
	}

	.estrella-5 {
		@include star-center(15px, 15px);
		@include star(10px);
	}

	.estrella-6 {
		@include star-center(15px, 15px);
		@include star(10px);
	}

	.estrella-7 {
		@include star-center(15px, 15px);
		@include star(10px);
	}
    .esfera {
		background-color: $color-esfera;
		border-radius: $base-tamanio-esfera/2;
		animation: pulse 2s infinite;
		height: $base-tamanio-esfera;
		width: $base-tamanio-esfera;
		padding: $base-tamanio-esfera/4;
		
	}
	
	@keyframes pulse {
	  	0% {
	    	box-shadow: 0 0 0 0 rgba(255, 153, 51, 0.4);
	  	}
	  	70% {
	      	box-shadow: 0 0 0 10px rgba(255, 153, 51, 0);
	  	}
	  	100% {
	      	box-shadow: 0 0 0 0 rgba(255, 153, 51, 0);
	  	}
	}
}